.display{
  font-size: 50px;
  background-color: black;
  color: white;
}

button
{
    width: 130px;
    height: 70px;
    font-size: 40px;
    border-radius: 15px;
}

.wide_button{
  width: 265px;
}